.sidebar__main {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 2rem 1rem;
  width: 8rem;
  background-color: #ffe5d9;
  overflow: hidden;
  transition: width 200ms ease-in-out;

  &:hover {
    width: 12rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar__itemOne,
  .sidebar__itemTwo {
    color: #000;
  }

  .sidebar__itemOne {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .sidebar__itemTwo {
    font-size: 0.9rem;
    font-weight: 400;
  }
}
