@import "../../styles/Font.scss";
@import "../../styles/variables.scss";

.about__main {
  padding: 3rem 4rem;
  h4 {
    @include Font(2.5rem, 700);
    text-align: center;
  }

  p {
    font-size: 1.125rem;
    color: #5c5c5c;
    line-height: 2rem;
  }

  .about__sectionTwo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.about__awards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;

  .awardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.award__text,
.award__label {
  text-align: center;
  color: #5c5c5c;
}

.award__text {
  font-size: 2.5rem;
  font-weight: 700;
}

.award__label {
  font-size: 0.875rem;
  margin: 0;
}

.about__awardsGradient {
  background-image: $PrimaryGradient;
  padding: 3rem 0;
}

.awardItemGradient,
.awardItemGradient p,
.awardItemGradient span {
  color: #fff;
}
