@import "../../styles/Font.scss";
@import "../../styles/variables.scss";

.doctorDetails__main {
  display: grid;
  grid-template: repeat(6, 4rem) / repeat(12, 1fr);
  gap: 1rem;
  background-color: $LightBG;
  padding: 2rem 4rem;

  p {
    margin: 0;
  }

  .doctorDetails__profilePicture {
    grid-row: 1/4;
    grid-column: 1/3;
    z-index: 1;
    margin-top: -6rem;
  }

  h3 {
    @include Font(3rem, 700);
    grid-row: 1/1;
    grid-column: 3/8;
  }

  .doctorDetails__qualification {
    grid-row: 2/3;
    grid-column: 3/5;
    font-weight: 500;
    font-size: 1.125rem;
    color: #979797;

    span {
      display: block;
    }
  }

  .doctorDetails__clinicName {
    grid-row: 3/4;
    grid-column: 1/4;
    font-weight: 500;
    font-size: 1.5rem;
    color: #5c5c5c;
  }

  .doctorDetails__blockOne {
    grid-row: 4/5;
    grid-column: 1/6;
    display: flex;
  }

  .doctorDetails__clinicAddress {
    flex: 2;
    font-size: 1.125rem;
    color: #5c5c5c;
  }

  .doctorDetails__appDate {
    flex: 1;
    height: 60%;
    width: 80%;
    padding: 0.7rem 2rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border: 0;
    outline: 0;
    background-color: #fff;
    border-radius: 1rem;
  }

  .doctorDetails__rightButtons {
    grid-row: 1/3;
    grid-column: 10/12;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    button {
      border: 0;
      padding: 0.5rem 2rem;
      font-weight: 600;
      box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
      border-radius: 1.5rem;
      color: #fff;
      align-self: flex-start;
    }

    .doctorDetails__clinicalAppointment {
      background-color: #828282;
    }

    .doctorDetails__price {
      background-image: $PrimaryGradient;
    }
  }

  .doctorDetails__socialInterest {
    grid-row: 5/8;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .doctorDetails__noOfPeople {
      text-align: center;
      font-weight: bold;
      font-size: 4.5rem;
      color: #ff8a00;
    }

    .doctorDetails__socialInterestText {
      font-size: 1.125rem;
      color: #5c5c5c;
    }

    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      span {
        height: 3rem;
        width: 3rem;
        display: grid;
        place-items: center;
        background-image: $PrimaryGradient;
        border-radius: 50%;
      }
    }
  }

  .doctorDetails__timeSlots {
    grid-row: 5/6;
    grid-column: 4/-1;

    > p {
      font-weight: 600;
      font-size: 1.125rem;
      color: #ff8a00;
    }

    .doctorDetails__timings {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-top: 3rem;

      > span {
        font-weight: 500;
        font-size: 1.125rem;
        color: #979797;
      }

      > div {
        display: flex;
        gap: 2rem;

        > button {
          border: 0;
          background-image: $PrimaryGradient;
          box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
          border-radius: 1.5rem;
          padding: 0.3rem 1.3rem;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}
