@import "../../styles/Font.scss";

.Tabs__main {
  display: flex;
  gap: 3.125rem;
  justify-content: center;
  align-items: center;

  .Tabs__tabItem {
    font-size: 0.9375rem;
    color: #5c5c5c;
    cursor: pointer;
  }

  .Tabs__tabItemActive {
    @include Font;
    font-weight: bold;

    &::after {
      content: " ";
      background-image: $PrimaryGradient;
      border-radius: 5px;
      display: block;
      width: 70%;
      height: 3px;
      margin: 0 auto;
      margin-bottom: -3px;
    }
  }
}
