@import "../../styles/Font.scss";
@import "../../styles/variables.scss";

.buttonMain {
  background-color: $LightBG;
  border-radius: 1.5rem;
  width: max-content;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  padding: 0.7ch 3ch;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  transition: box-shadow 0.6s ease-in-out;
}

.gradientContainer {
  @include Font;
}

.gradientBackground {
  background-image: $PrimaryGradient;
  color: #fff;
}

.outlined {
  border: 1px solid #ff8a00;
  font-weight: bold;
  font-size: 0.875rem;
  color: #6a6a6a;
  padding: 0.8rem 2rem;
}

.small {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-weight: 500;
}
