@import "../../styles/Font.scss";
@import "./VisualStories.module.scss";

.blogCategory__main {
  h5 {
    @include Font(2.5rem, 800);
    text-align: center;
    margin: 3.75rem 0;
  }

  .blogCategory__blogs {
    margin: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .blogCategory__blogCard {
      background-color: #c4c4c4;
      border-radius: 10px;
      cursor: pointer;

      > p {
        @include ImageTitle;
      }
    }
  }
}
