@import "../../styles/Font.scss";
@import "../../styles/variables.scss";

@mixin ImageTitle {
  background-image: $PrimaryGradient;
  border-radius: 0 0 10px 10px;
  padding: 0.75rem 1.75rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.3125rem;
  margin: 0;
  height: 3.75rem;
}

.visualStories__main {
  h5 {
    @include Font(2.5rem, 800);
    text-align: center;
    margin-bottom: 3.75rem;
  }

  .visualStories__storiesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    .visualStories__storyCard {
      background-color: #c4c4c4;
      border-radius: 10px;
      cursor: pointer;

      > p {
        @include ImageTitle;
      }
    }
  }
}
