@import "../../styles/variables.scss";

.slideOne {
  background: linear-gradient(253.58deg, #00cccc 1.55%, #009999 95.8%);
  height: 33.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.slideOneImageContainer {
  align-self: flex-end;
  width: 40rem;
  height: 28.4375rem;
}

.slideOneTextContainer {
  display: flex;
  flex-direction: column;
}

.slideOneTextOne,
.slideOneTextTwo {
  margin: 0;
  color: $LightBG;
}

.slideOneTextTwo {
  margin-bottom: 0.8rem;
}

.slideOneTextOne {
  font-size: 6.875rem;
  font-weight: 800;

  span {
    display: block;
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 4rem;
  }

  margin-bottom: 2.875rem;
}

.slideOneTextTwo {
  font-size: 2.25rem;
}

.navigationButtons {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.prevButton,
.nextButton {
  border: 0;
  background: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.prevButton {
  background: $LightBG;
  width: 2.5rem;
  height: 2.5rem;
}

.nextButton {
  background: linear-gradient(253.58deg, #00cccc 1.55%, #009999 95.8%);
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  width: 3.5rem;
  height: 3.5rem;
}
