@import "../../styles/variables.scss";

.comments__main {
  padding: 2rem 15.625rem;

  h5 {
    font-size: 2.25rem;
    line-height: 3.1875rem;
    color: #5c5c5c;
    margin: 0;
  }

  .comments__commentBox {
    background-color: #ffffff;
    padding: 3rem 3.125rem;
    border: 1px solid #efefef;
    border-radius: 10px;

    .comments__commentItem {
      display: flex;
      gap: 4rem;

      .comments__userImg {
        height: 5.9375rem;
        width: 5.9375rem;
        border-radius: 50%;
        background-color: #c4c4c4;
      }

      .comments__userContent {
        p {
          font-size: 1rem;
          line-height: 1.75rem;
          color: #535353;
        }

        .comments__userActions {
          display: flex;
          gap: 2rem;

          span {
            font-size: 0.75rem;
            line-height: 1rem;
          }

          :first-child {
            color: #989898;
          }

          :last-child {
            color: #5c5c5c;
          }
        }
      }
    }
  }

  .comments__addComment {
    display: flex;
    flex-direction: column;

    h5 {
      margin-top: 2rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: #5c5c5c;
    }

    .comments__inputFields {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      gap: 1rem;

      > textarea {
        grid-column: 1/-1;
        margin-bottom: 2rem;
      }
    }

    .commentInput {
      background: $LightBG;
      height: min-content;
      border: 1px solid #efefef;
      border-radius: 1.5rem;
      padding: 1rem 1.5rem;
    }
  }
}
