@import "../../styles/Font.scss";

.footer__main {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  background-color: #d9d9d9;
  padding: 1rem 0;

  .footer__blockOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-left: 50px;
    .footer__socialItems {
      display: flex;
      gap: 1.5rem;
    }
  }

  .footer__blockTwo,
  .footer__blockThree {
    h6 {
      font-weight: 500;
      font-size: 1.5rem;
      color: #303030;
      // margin-left: 50px;
      margin: 0;
      margin-bottom: 1.2rem;
    }

    .footer__linkItems {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-left: 50px;

      .footer__linkItem {
        font-size: 1rem;
        color: #303030;
      }
    }
  }

  .footer__blockFour {
    h6 {
      @include Font(1.5rem, 700);
      margin-bottom: 1rem;
    }

    form {
      margin-bottom: 2rem;

      input,
      button {
        border: 0;
        border-radius: 15px;
        padding: 0.5rem 1rem;
        font-weight: 550;
        box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
      }

      input {
        background-color: #fff;
        outline: 0;
        ::placeholder {
          font-size: 0.875rem;
          line-height: 1rem;
          color: #989898;
        }
      }

      button {
        margin-left: -1.5rem;
        background: linear-gradient(253.58deg, #00cccc 1.55%, #009999 95.8%);
        color: #fff;
        cursor: pointer;
      }
    }

    .footer__final {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      span {
        font-weight: 300;
        font-size: 1.1.25rem;
        color: #5c5c5c;
      }
    }
  }
}

.footer__credits {
  background-color: #000;
  color: #fff;
  padding: 1rem 10rem;
  p {
    margin: 0;
  }
}
