.clinicForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.bookingForm__main {
  display: grid;
  grid-template: repeat(3, 25%) / 1fr 1fr;
  gap: 1rem;
  height: 100%;
}

.iconField {
  display: flex;
  align-items: center;
  gap: 1rem;

  > div {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  label {
    display: block;
    font-weight: 500;
    font-size: 1.3125rem;
    color: #5c5c5c;
  }

  input::placeholder {
    font-weight: 500;
    font-size: 1.125rem;
    color: #5c5c5c;
  }
}
