@import "../../styles/Font.scss";

.customerSupport__main {
  background-color: #fff;
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  .customerSupport__childOne {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 2rem;

    > svg {
      flex: 3;
    }

    h4,
    p {
      margin: 0;
    }

    h4 {
      :first-child {
        @include Font(2.5rem, 500);
      }

      :last-child {
        @include Font(2.5rem, 700);
      }

      span {
        display: block;
      }
    }

    p {
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: #5c5c5c;
    }

    > div {
      display: flex;
      align-items: center;
      gap: 3rem;
    }
  }
}
