.searchBar__main {
  display: flex;
  align-items: center;
  width: 17.5rem;
  height: 2.25rem;
  padding: 0 1rem;
  border: 1px solid #c9c9c9;
  border-radius: 1.5rem;
}

.searchBar__input {
  border: none;
  outline: none;
  height: 100%;
  flex-grow: 1;
  border-radius: 1.5rem;
}
