@import "../styles/Font.scss";
@import "../styles/variables.scss";

.appointment__container {
  display: flex;
  overflow: auto;
  background-color: $LightBG;
  padding: 4rem 1rem;

  section {
    width: 100%;
  }

  h4 {
    @include Font(2.5rem, 800);
    text-align: center;
    padding: 4rem 0;
  }

  .appointment__filterContainer {
    display: flex;
    border: 1px solid #efefef;
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    justify-content: center;
    margin: 2rem auto;
    margin-bottom: 3rem;
    width: max-content;
    border-radius: 15px;

    .appointment__searchContainer {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0 0.5rem;
      background-color: #fff;

      > input {
        height: 100%;
        width: 25rem;
        border: 0;
        outline: 0;
      }

      .closeButton {
        border: 0;
        background-color: transparent;
        display: grid;
        place-items: center;
        cursor: pointer;

        > svg {
          color: lighten($color: #000, $amount: 70%);
          transition: color 0.3s ease-in-out;
          :hover {
            color: #000;
          }
        }
      }
    }

    button {
      margin-left: -0.5rem;
    }
  }

  .appointment__clinicalContainer {
    display: flex;
    width: max-content;
    margin: 2rem auto;
    box-shadow: 2px 0px 8px rgba(91, 91, 91, 0.4);
    border-radius: 20px;

    p {
      font-weight: 600;
      font-size: 1.5rem;
      color: #5c5c5c;
      margin: 0;
    }

    .appointment__clinicalBlockOne,
    .appointment__clinicalBlockTwo {
      padding: 3rem 2rem;
    }

    .appointment__clinicalBlockOne {
      background-color: #fff;
      border-radius: 20px 0 0 20px;
      h3 {
        @include Font(2.5rem, 700);
      }

      p {
        margin-bottom: 1rem;
      }
    }

    .appointment__clinicalBlockTwo {
      background-color: #ff961c;
      border-radius: 0 20px 20px 0;
      color: #ffffff;

      h3 {
        font-weight: bold;
        font-size: 2.5rem;
      }

      .timing {
        font-weight: 600;
        font-size: 1.5rem;
        color: #f3edfb;
      }

      .timingMB {
        margin-bottom: 0.875rem;
      }
    }
  }
}

.appointment__doctorsContainer {
  display: flex;
}

.doctorsList {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.filter__main {
  flex: 1;
  h6 {
    font-weight: 600;
    font-size: 1.125rem;
    color: #5c5c5c;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
}
