@import "./Font.scss";
@import "./variables.scss";

.blog__main {
  .blog__content {
    overflow: auto;
    padding: 2rem 15.625rem;
    background-color: $LightBG;

    > p,
    .blog__tags,
    .blog__shareWith {
      font-size: 0.875rem;
      color: #5c5c5c;
    }

    > p {
      line-height: 1.75rem;
    }

    > h6 {
      @include Font(1.5rem, 700);
      margin: 4rem 0;
    }

    .blog__image {
      margin: 3rem auto;
      text-align: center;
    }

    .blog__tagsAndShare {
      margin-top: 2rem;
    }

    .blog__tagsAndShare,
    .blog__shareWith,
    .blog__tags {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
    }

    .blog__shareWith {
      > div {
        display: flex;
        gap: 1rem;
      }
    }

    .blog__otherBlogs {
      margin-top: 4rem;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      :first-child {
        h6 {
          font-weight: 600;
          font-size: 1.125rem;
          color: #5c5c5c;
        }
      }

      :last-child {
        h6 {
          @include Font(1.125rem, 600);
        }
      }

      :first-child,
      :last-child {
        h6 {
          margin: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
