@import "./variables.scss";

@mixin Font($size: 0.9375rem, $weight: 500) {
  background: $PrimaryGradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: $size;
  font-weight: $weight;
  margin: 0;
}
