html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body * {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header__home {
  font-weight: 900;
  font-size: 2.5rem;
}
