@import "./Font.scss";
@import "./variables.scss";

$homePadding: 0 10rem;

.consultBlock__main {
  background: $LightBG;
  display: grid;
  place-items: center;
  h4 {
    @include Font(2.5rem, 800);
    margin: 2rem 0;
  }

  > button {
    margin: 2rem 0;
  }
}

.consult__main {
  display: flex;
  flex-direction: row;
}

.consultCard__main {
  background: #f1f1f1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  width: 21.1875rem;
  height: max-content;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border-radius: 10px;
    object-fit: fill;
  }

  h5 {
    // @include Font(1.5rem, 700);
    color: black;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
  }

  p {
    margin: 0;
    margin-bottom: 0.625rem;
    text-align: center;
    line-height: 1.5rem;
    span {
      display: block;
      font-size: 1rem;
      text-align: center;
      color: #5c5c5c;
    }
  }

  button {
    margin: 0 auto;
  }
}

.consultCards__main {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 1rem;
  background-color: #fff7df;
}

.ourBlogs__main {
  background-image: $PrimaryGradient;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: $homePadding;
  height: 70vh;

  h4 {
    color: #fff;
    margin: 0;
  }

  .ourBlogs__blockOne {
    p {
      font-size: 1.3rem;
      line-height: 1.75rem;
      font-weight: 400;
      color: #ffffff;
      margin: 0;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      span {
        font-weight: 900;
      }
    }
  }

  .ourBlogs__masonry {
    display: grid;
    grid-template: repeat(8, 4rem) / repeat(9, 4rem);
    gap: 1rem;
    padding: 2rem 0;

    .ourBlogs__masonryItem {
      border-radius: 5px;

      img {
        border-radius: 5px;
      }
    }

    .masonry__item_1 {
      grid-row: 4/6;
      grid-column: 1/3;
    }

    .masonry__item_2 {
      grid-row: 3/6;
      grid-column: 6/8;
      margin-top: 1.7rem;
    }

    .masonry__item_3 {
      grid-row: 5/7;
      grid-column: 5/7;
      margin-top: 1.7rem;
      margin-left: -2.5rem;
      margin-right: -2rem;
    }

    .masonry__item_4 {
      grid-row: 4/6;
      grid-column: 8/11;
      margin-left: -2.5rem;
    }

    .masonry__item_5 {
      grid-row: 2/4;
      grid-column: 3/6;
    }

    .masonry__item_6 {
      grid-row: 5/7;
      grid-column: 3/5;
      margin-top: 1.7rem;
    }

    .masonry__item_7 {
      grid-row: 2/4;
      grid-column: 6/8;
      margin-top: -1.7rem;
    }
  }
}

.aboutUs__main {
  background-color: $LightBG;
  padding-right: 4rem;
  padding-top: 2rem;

  h4 {
    font-size: 38px;
    color: #009999;
    text-align: center;
    margin: 0;
  }

  .aboutUs__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aboutUs__clippedContainer {
    width: 30rem;
    height: 20rem;
    // clip-path: ellipse(90% 70% at 0% 78%);
  }

  .aboutUs__blockTwo {
    h5 {
      font-size: 35px;
      color: #009999;
      margin: 0;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: #5c5c5c;
      word-wrap: break-word;
    }
  }
}

.contactUs__main {
  display: flex;
  align-items: center;
  background-color: $LightBG;

  .contactUs__blockOne {
    background-color: #fff;
    z-index: 0;
    flex: 1;
    padding: 2rem 10rem;
    h4 {
      // @include Font(2.5rem, 900);
      font-size: 38px;
      // color: #009999;
      color: #009999;
      margin: 0;
    }

    p {
      font-size: 1.125rem;
      color: #5c5c5c;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      button {
        margin: 0 auto;
      }
    }

    > * {
      width: 70%;
    }
  }

  .contactUs__blockTwo {
    flex: 1;
    background-image: linear-gradient(275.14deg, #00cccc -5.8%, #009999 88.71%);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    padding: 2rem 4rem;
    z-index: 1;
    margin-left: -10rem;
    height: 70%;

    h5 {
      font-weight: 900;
      font-size: 2.5rem;
      color: #ffffff;

      margin: 0;
      margin-bottom: 2rem;
    }

    .contactInfoContainer {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      > div {
        display: flex;
        align-items: center;
        gap: 3rem;
        font-weight: 500;
        font-size: 1.25rem;
        color: #ffffff;

        svg {
          height: 37px;
          width: 37px;
        }
      }

      :last-child {
        line-height: 3rem;
      }
    }
  }
}
