.pharmacy__main {
  h1 {
    background-color: #ffaf01;
    color: #fff;
    padding: 4rem 0;
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;

    &::after {
      content: " ";
      background-color: #fff;
      border-radius: 5px;
      display: block;
      width: 6%;
      height: 3px;
      margin: 0 auto;
      margin-bottom: -3px;
    }
  }

  nav {
    width: 14rem;
    height: 100%;
    padding: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    > div {
      width: 100%;
    }

    ul,
    h6 {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .pharmacy__addFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      li {
        color: #5c5c5c;
      }
    }

    h6 {
      font-size: 1.2rem;
      margin-bottom: 0.7rem;
    }

    .pharmacy__minMaxContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;

      label {
        font-size: 0.8rem;
        font-weight: 600;
      }

      input {
        width: 4.5rem;
        border: 1px solid #eee;
        background-color: lighten($color: #d9d9d9, $amount: 10%);
        border-radius: 5px;
        padding: 0.5rem;
      }
    }

    .pharmacy__buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
}
