@import "../../styles/variables.scss";
@import "../../styles/Font.scss";

.header__main {
  height: 6.875rem;
  box-shadow: 0 12px 35px rgba(160, 121, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__main__end {
  height: 6.875rem;

  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  justify-content: flex-end;
  margin-left: 500px;
}

.header__main__cart {
  margin-left: 15px;
  color: #00cccc;
}

.header__navItemsWrapper h5 {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  font-size: 30px;
  color: #009999;
}

.header__navItem {
  @include Font;
  cursor: pointer;
}

.header__navItemActive {
  font-weight: 700;

  &::after {
    content: " ";
    background-image: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
    border-radius: 5px;
    display: block;
    width: 50%;
    height: 3px;
    margin: 0 auto;
    margin-bottom: -3px;
  }
}
